{% load staticfiles %}
<head>
  
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static 'js/init.js' %}"></script>
        <script src="{% static 'js/materialize.js' %}"></script>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        

        <title>{% block title %}{% endblock %}</title>
        
        <!-- CSS  -->
        <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <!-- Materialize Icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
      </head>
<body style="background-color:#4EC1E6">
    <style>
        button, a, p{
          font-weight: bold;
        }
    </style>
<div class="row" style="margin-bottom:0px">
    <div class="col s12 m12 l4" ></div>
    <center>
    <div class="col s12 m12 l4">
                {% if form.errors %}
                <p>비밀번호가 일치하지 않습니다.</p>
                {% endif %}
                
                {% if next %}
                    {% if user.is_authenticated %}
                    <!--<p>해당 계정에 접근 권한이 없습니다.</p>-->
                    {% else %}
                    {% endif %}
                {% endif %}
                <center>
                    <img style ="width:100%" src="{% static 'images/healthycash_logo.png' %}">
                </center>
                </div>
                <div class="col s12 m12 l12" ></div>
                <div class="col s1 m4 l4"></div>
                
                <div class="col s10 m12 l4">
                    <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        <table>
                            <tr>
                                <td>
                                    <input type="text" placeholder="ID" name="username" autofocus maxlength="254" required id="id_username" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input placeholder="Password" type="password" name="password" required id="id_password" />
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <br>
                        <center>
                            <button style="color:#4EC1E6 ;background-color:#F4FF69" class="btn waves-effect waves-light" value = "login" type="submit" >로그인
                            </button>
                            <a href="/register"  style="margin-left : 20px;color:#4EC1E6 ;background-color:#F4FF69;" class="btn waves-effect waves-light" >회원가입
                            </a>
                        </center>
                    </form>
                </div>
                <div class="col s10 m12 l4"></div>
                <div class="col s1 m12 l12"></div>
                {# Assumes you setup the password_reset view in your URLconf #}
                <!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->
            </div>
         </div>
     </center>
</div> 

<div class="col l12 s12"  >
    <a href="{% url 'healthclub:list' %}" >
        <center>
            <p style="color:#F4FF69;display: inline-flex;vertical-align: middle;"><i class="small material-icons">play_arrow</i>둘러보기</p>
        </center>
    </a>
</div>

          
</body>
