{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<nav>
<div class="nav-wrapper">
  <div class="col s12">
    <a href="#!" class="breadcrumb">계정 유형</a>
  </div>
</div>
</nav>
<div class="row" style="margin-top:60px">
    <div class="col s4 m6">
        <i style = "margin-left:30px; margin-top:30px;" class="medium material-icons">people</i>
    </div>
    <div class="col s8 m6">
        <p style="text-align:center">일반 회원에 가입하고,</p> <p style="text-align:center"> 운동한 만큼 환급 받으세요 !</p>
        <center>
            <a href="/register_normal/"  class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>회원 가입(일반 회원)</a>
        </center>
    </div>
</div>
<div class="row" style="margin-top:60px">
    <div class="col s4 m6">
        <i style = "margin-left:30px; margin-top:30px;" class="medium material-icons">account_circle</i>
    </div>
    <div class="col s8 m6" >
        <p style="text-align:center">HealthyCash에서 고객 관리를 해보세요 !</p>
        <center>
            <a href="/register_master/"  class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>회원 가입(헬스장 점주)</a>
        </center>
    </div>
</div>
{%endblock content%}