{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
{%endblock head%}
{% block content %}

<div class="container" style="margin-top:20px">
    <div class="col s12 m6 l3">
        <p class="header" style="font-size:20px;color:#4EC1E6;font-weight: bold;"> 지점 정보 설정 </p>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
                <form method="POST" enctype="multipart/form-data" action="{% url 'healthclub:create_confirm' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td style="width:70px;font-weight: bold;text-align:center;">매장명</td>
                            <td>
                                <div class="input-field col s12">
                                  <input type="text" name = "name" >
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:70px;font-weight: bold;text-align:center;">상세설명</td>
                            <td>
                                <div class="input-field col s12">
                                  <textarea  name = "detail" class="materialize-textarea"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!--<td style="width:70px;font-weight: bold;"></td>-->
                            <td colspan="2">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>사진</span>
                                    <input type="file" name="photo" multiple>
                                  </div>
                                  
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                  </div>
                                </div>
                            </td>
                        </tr>
										</table>
                    <div class="row" style="margin-top:50px">
                        <div class="col s12 l2"></div>
                        <div class = "col s12 l2"></div>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header">
                                <p style="width:70px;font-weight: bold;">가격 설정</p>
                              </div>
                              <div class="collapsible-body" id="invite_list">
                                <div class="input-field">
                                  1개월
                                  <input  name = "price1" type="text" class="validate">
                                </div>
                                <div class="input-field">
                                  2개월
                                  <input  name = "price2" type="text" class="validate">
                                </div>
                                <div class="input-field">
                                  3개월
                                  <input  name = "price3" type="text" class="validate">
                                </div>
                                <div class="input-field">
                                  6개월
                                  <input  name = "price6" type="text" class="validate">
                                </div>
                                <div class="input-field">
                                  12개월
                                  <input  name = "price12" type="text" class="validate">
                                </div>
                              </div>
                            </li>
                        </ul>
                        </div>
                    </div>
										<table>
												<tr>
                            <td style="width:70px;font-weight: bold;text-align:center;">위치검색</td>
                            <td>
                                <div class="input-field col s12">
																	<input id="geometry" name= "geometry"  type="hidden" />
																	<input id="healthclub_address" name= "address"  type="hidden" />
																	<input id="search_address" type="text" placeholder="위치 검색" />
																	<span id="address_span"></span>
                                </div>
                            </td>
                        </tr>
										</table>
										<div  style="width:100%;height:300px;">										
											<div id="map" style="width:100%;height:100%;"></div>
										</div>
                    <center>
                        <button class="btn waves-effect waves-light"style="margin-top:20px;font-weight: bold" type="submit">저장하기</button>
                        <a class="btn waves-effect waves-light"  style="margin-top:20px;font-weight: bold; margin-left:10px" href="{%url 'home'%}"> 뒤로가기</a>
                    </center>
                </form>
            </div>
            
               <!--<a href="{%url 'home'%}"> <p style="color:black;font-weight: bold;text-align:center;color:#4EC1E6;">메인 화면으로</p></a>-->
           
          </div>
        </div>
     </div>
</div> 
<script>
	$('document').ready(function(){
		//$('#{{ widget.attrs.id }}').val('377123, 12312');
		var center = new google.maps.LatLng(37.57, 126.97);
		var map_el = document.getElementById('map');
		var map = new google.maps.Map(map_el, {
			zoom : 10,
			center: center
		});

		var marker = new google.maps.Marker({
			map : map,
			position : center
		});

map.addListener('click', function(e){
			var address = e.latLng.lat() + ',' +e.latLng.lng();
		  $('#geometry').val(address);
			marker.setPosition(e.latLng);
			geocode(address, function(results){
				if(results.length == 0){
					$('#address_span').html('주소 검색 결과가 없습니다.');
					$('#healthclub_address').val('');
				}else{
					$('#address_span').html(results[0].formatted_address);
					$('#healthclub_address').val(results[0].formatted_address);
				}
			})
		});
		$('#search_address').keypress(function(e){

			if(e.keyCode == '13'){
				e.preventDefault();

				var q = $(this).val();
				if( q.length > 0){
					geocode(q, function(results){
						if( results.length ==0 ){
							$('#address_span').html('검색 결과가 없습니다.');
							$('#healthclub_address').val('');
						}else{
							console.log(results);
							$('#address_span').html(results[0].formatted_address);
							var loc = new google.maps.LatLng(results[0].geometry.location.lat, results[0].geometry.location.lng);
							map.setCenter(loc);
							map.setZoom(15);
							marker.setPosition(loc);
		  				$('#geometry').val(loc.lat() + ',' +loc.lng());
							$('#healthclub_address').val(results[0].formatted_address);
						}
					})
				}
			}
		})
	});

function geocode(address, callback) {
	$.get('https://maps.googleapis.com/maps/api/geocode/json', {
		address: address,
	//	key: '{{GOOGLE_MAP_API_KEY}}' // FIXME: Google Maps JavaScript API 키 적용
		}).done(function(res) {
			callback(res.results);
		}).fail(function() {
			alert('error');
	});
};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}"></script>
{% endblock %}
