{% extends "base.html"  %}
{% load staticfiles %}

{% block title  %}
HealthyCash
{% endblock title %}
{% block head %}
{%endblock head%}
{%block content%}

{%if message%}
<script type="text/javascript">
  alert('{{message}}');
</script>
{%endif%}
<style>
  .not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
</style>

<center>
  <div class="carousel carousel-slider center" >
      <a class="carousel-item" href="/profiles/group"><img src="{% static 'images/advertisement1.png' %}"></a>
      <a class="carousel-item" href="#two"><img  src="{% static 'images/advertisement2.png'  %}"></a>
      <a class="carousel-item" href="/aboutus"><img  src="{% static 'images/advertisement3.png'  %}"></a> 
  </div>
</center>
<div class="container" style="margin-top:30px">
    <div class="row" style="margin-bottom:0px">
      <form method="GET" action="/healthclub/list/" id="search">
          {% csrf_token %}
          <div class="row">
            <div class="col s1 m1 l1"></div>
            <div class="input-field col s9 m9 l9">
              <input style="background-color:transparent;" type="text" name="search" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input">헬스장 바로검색</label>
            </div>
            <div class="col s1 m1 l1" style="font-size:40px;height:40px;text-align:center;">
                <i class="material-icons prefix" onclick="submitFunc()">search</i>
            </div>
            <div class="col s3 m3 l3"></div>
          </div>
      </form>
    </div>
    <p style="color:#4EC1E6g">헬스장 정보</p>
    {% if object_list.all  %}
    {% for obj in object_list reversed%}
    <div class="col s12 m12" >
      <a href="{% url 'healthclub:detail' pk=obj.id %}">
      <div class="card horizontal" style="height:100px;margin:5px;border-radius:8px; background-color:#efefef">
        <div class="card-image">
            {% if obj.photo %}
            <img  src="{{obj.photo.url}}" style="height:100px">
            {%else%}
            <img  src="{% static 'images/default_image.jpg' %}" style="height:100px">
            {% endif %}
        </div>
        <div class="card-stacked">
          <div class="card-content" style="height:100px">
              <span>{{obj.name}}</span>
              <p style="display: inline-block; width: 148px; white-space: nowrap; overflow: hidden; ">{{obj.address}}</p>
              <p style="display: inline-block; width: 148px; white-space: nowrap; overflow: hidden; ">{{obj.price1}} 원 ~ {{obj.price12}} 원</p>
          </div>
        </div>
      </div>
      </a>
    </div>
    {% endfor %}
    {% else  %}
    <p style="text-align:center">검색 결과가 없습니다. 다시 검색해 주세요</p>
    {% endif  %}
    
</div>
<script>
    $(document).ready(function(){
        $('.carousel.carousel-slider').carousel({fullWidth: true, indicators: true});
        setTimeout(autoplay, 4000);
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4000);
        }
        $('input.autocomplete').autocomplete({
        data: {
          {% for keyword in keywords %}
          "{{ keyword }}" : null,
          {% endfor %}
          
          {% for healthclub in healthclubs %}
          "{{ healthclub }}"  : null,
          {% endfor %}
        },
        limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
        onAutocomplete: function(val) {
          // Callback function when value is autcompleted.
        },
        minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
      });
    })
    function submitFunc(){
        $( "#search" ).submit();
    };
</script>
{%endblock content%}