{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
{%endblock head%}
{% block content %}
<div class="container">
    <div class="row" style="margin-top:60px">
        <div class="col s12 m12 l4" >
            {%if healthclub.qrcode%}
            <img src="{{qrcode_url}}" style="height:200px;width:200px;">
            {%endif%}
        </div>
        <div class="col s12 m12 l3">
            <p>지점 명 : {{healthclub.name}}</p>
            <p>고객 수 : {{healthclub.member}}  명</p>
        </div>
        <div class="col s12 m12 l5">
            <table>
                <thead>
                  <tr>
                      <th>고객명</th>
                      <th>지점</th>
                      <th>출석일</th>
                  </tr>
                </thead>
                <tbody>
                    {% for r in healthdiary reversed%}
                  <tr>
                    <td>{{r.user.profile.real_name}}</td>
                    <td>{{r.healthclub.name}}</td>
                    <td>{{r.timestamp}}</td>
                  </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock content%}