{% extends "base.html"  %}
{% load staticfiles %}
{% load healthclub_detail %}
{% block title  %}
HealthyCash
{% endblock title %}
{% block head %}
{%endblock head%}
{%block content%}

<div class="row" style="margin-top:30px">
  <div class="col s12 m12 l3"></div>
    <div class="col s12 m12 l6">
      <div class="card" style="background-color:#efefef;">
        <div class="card-image">
          {%if object.photo%}
          <img src="{{object.photo.url}}">
          {%else%}
          <img src="{% static 'images/default_image.jpg' %}">
          {%endif%}
            </div>
            <div class="card-content">
              <p>헬스장 : {{object.name}}</p>
              <p> {{object.detail|linebreaks}}</p>
		      <p>주소 : {{object.address}}</p>	
			  <div  style="width:100%;height:200px;">										
				<div id="map"style="width:100%;height:100%;"></div>
			  </div>
            </div>
            <form action="{% url 'healthclub:payment' object.id %}" method="POST">
              {%csrf_token%}
              <div class="card-action">
              <input name="price" id="test1" type="radio"  value = "{{object.price1|multiply:100|add:'1'}}" />
              <label for="test1">1 개월 : {{object.price1}} 원</label>
              <input name="price" id="test2" type="radio"  value = "{{object.price2|multiply:100|add:'2'}}"/>
              <label for="test2">2 개월 : {{object.price2}} 원</label>
              <input name="price" id="test3" type="radio" value = "{{object.price3|multiply:100|add:'3'}}"/>
              <label for="test3">3 개월 : {{object.price3}} 원</label>
              <input name="price" id="test6" type="radio"  value = "{{object.price6|multiply:100|add:'6'}}"/>
              <label for="test6">6 개월 : {{object.price6}} 원</label>
              <input name="price" id="test12" type="radio" value = "{{object.price12|multiply:100|add:'12'}}"/>
              <label for="test12">1 년 : {{object.price12}} 원</label>
              <input type="hidden" name="health_id" value={{object.id}} />
              <br><br>
              <center>
              <button class="btn waves-effect waves-light">결제하기</button>
            </form>
            </center>
        </div>
      </div>
      <p class="header" style="margin-top:40px;margin-left:15px;font-size:20px;color:#4EC1E6;"> 리뷰 </p>
      <form method="POST"  id="myForm" action="{% url 'healthclub:healthclub_detail_review_create' object.id %} ">
          {% csrf_token %}
          <div class="row" style="margin-top:10px;text-align:center;margin:auto;" >
            <div class="input-field col s9 m9 l9">
              <input id="reply" name="reply" type="text" class="validate">
              <label for="reply">댓글</label>
            </div>
            <!--<div class= "col s1 m2 l2" style="font-size:35px;height:40px;text-align:center;">-->
            <!--  <i class="material-icons" id="submit_button">add_circle</i>-->
            <!--</div>-->
            <button class="btn waves-effect waves" style="padding:0 1rem;">저장</span></button>
          </div>
      </form>
        
        {% for reply in replies  %}
        <ul class="collection" style="background-color:#white; border-radius:12px; margin-bottom:1px;margin-top:3px;">
          <li class="collection-item" style="background-color:#efefef; padding-top:5px;padding-bottom:5px;">
            <span>{{reply.user.profile.real_name}}</span><span style="float:right;">{{reply.timestamp|date:'Y-m-d H:i'}}</span>
            <br>
            <span>{{reply.reply}} </span>
          </li>
        </ul>
        {% endfor  %}
        
    </div>
</div>

<script>
	$('document').ready(function(){
		var center = new google.maps.LatLng({{lat}}, {{lng}});
		var map_el = document.getElementById('map');
		var map = new google.maps.Map(map_el, {
			zoom : 15,
			center: center
		});

		var marker = new google.maps.Marker({
			map : map,
			position : center
		});
		
	  $('#submit_button').on('click', function(){
	    $('#myForm').submit();
	  })
});		
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}"></script>
{%endblock content%}
