{% extends "base.html"  %}
{% load staticfiles %}

{% block title  %}
HealthyCash
{% endblock title %}
{% block head %}
{%endblock head%}
{%block content%}
<div class="container">
    <p>그룹 이름 : {{groupname}}</p>
    {%for member in members%}
    <p>{{member.username}}  || 운동하러 간 날 수 : {{member.profile.exercised}}</p>
    {%endfor%}
    <a href="/profiles/group/update/{{groupid}}" class="waves-effect waves-light btn">초대하기</a>
    <a href="/profiles/group/exit/{{groupid}}" class="waves-effect waves-light btn">나가기</a>
</div>

{%endblock content%}