{% extends "base.html"  %}
{% load staticfiles %}

{% block title  %}
HealthyCash
{% endblock title %}
{% block head %}
{%endblock head%}
{%block content%}
<div class="container">
    <div class="row" style="margin-top:30px">
         <div class="col s12 m4">
            <h4 class="header">내 그룹    <a style="float:right;margin-right:10px;" href="/profiles/group/create/" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a></h4>
            <div class="card horizontal" style="margin-top:20px">
              <div class="card-stacked">
                <div class="card-content">
                    {% if groups %}
                    {% for group in groups %}
                    <p><a href="/profiles/group/detail/{{group.id}}">{{group.name}}<i style="float:right" class="material-icons">near_me</i> </a></p>
                    {% endfor %}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
         
         <div class="col s12 m4">
           <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">group</i>
                그룹 초대
                <span class="new badge">{{ groupinvites | length  }}</span>
              </div>
              <div class="collapsible-body">
                {% if groupinvites %}
                    {% for groupinvite in groupinvites %}
                    <p>{{ groupinvite.inviter }} 님이 {{ groupinvite.group.name }} 그룹에 초대하셨습니다.
                        <a href = "{% url 'profiles:group_invite_accept' groupinvite.id %}"><i class="material-icons">check</i></a> 
                        <a href = "{% url 'profiles:group_invite_decline' groupinvite.id %}"><i class="material-icons">clear</i></a>
                    </p>
                    {% endfor %}
                    {% else %}
                    <p>그룹 초대 내역이 없습니다.</p>
                    {% endif %}
              </div>
            </li>
          </ul>
          </div>
          
          <div class="col s12 m4">
             <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">group</i>
                  오픈 그룹
                  <span class="new badge">{{notgroups|length}}</span>
                </div>
                <div class="collapsible-body">
                  {% if notgroups %}
                  {% for notgroup in notgroups %}
                  <p>
                      <a href="/profiles/group/detail/{{notgroup.id}}">{{notgroup.name}}</a>
                      <a style="margin-left:20px" href="/profiles/group/register/{{notgroup.id}}" class="waves-effect waves-teal btn-flat">
                          입장하기<i class="material-icons">near_me</i> 
                      </a>
                  </p>
                  {% endfor %}
                  {% endif %}
                </div>
              </li>
            </ul>
             <!--<span class="new badge" data-badge-caption="custom caption">4</span>-->
          </div>
          
          
</div>
{% endblock content %}