{% extends "base.html"  %}
{% load staticfiles %}

{% block title  %}
HealthyCash
{% endblock title %}
{% block head %}
{%endblock head%}
{%block content%}
<div class="container">
    <form action="/profiles/group/create/confirm/" method="POST" >
        {%csrf_token%}
        <div class="input-field col s6">
            <input id="groupname" type="text" class="validate" name = "groupname">
            <label for="groupname">그룹 이름 : </label>
        </div>
        {%for user in users%}
        {%ifnotequal user.user.username request.user.username%}
        <p>
            <input type="checkbox" id="{{user.user.username}}" value="{{user.user.username}}" name="username" />
            <label for="{{user.user.username}}">{{user.user.username}}</label>
        </p>
        {%endifnotequal%}
        {%endfor%}
        
        <br>
        <input name="public" type="radio" id="_public" value = "public" />
        <label for="_public">공개</label>

        <input name="public" type="radio" id="_private" value = "private"/>
        <label for="_private">비공개</label>
        <br>
        <br>
        <button class = "waves-effect waves-light btn" type="submit">그룹 생성</button>
    </form>
</div>

</script>
{%endblock content%}