{% extends "base.html"  %}
{% load staticfiles %}

{% block title  %}
HealthyCash
{% endblock title %}
{% block head %}
{%endblock head%}
{%block content%}

<div class="container">
    <div class="row" style="margin-top:30px">
        <div class="col s12 m3 l3"></div>
        <div class="col s12 m6 l6">
            <form action="/profiles/group/create/confirm/" method="POST" id="group_create" >
                {%csrf_token%}
                <div class="input-field">
                    <input value="{{groupname}}" id="groupname" type="text" class="validate" name = "groupname">
                    <label for="groupname" style="color:black">그룹 이름 : </label>
                </div>
                <div class="input-field" id="search">
                    <input type="text"  id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">아이디 검색</label>
                </div>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header">
                            회원 목록 (전체)
                          </div>
                          <div class="collapsible-body">
                            {%for user in users%}
                            {%ifnotequal user.user.username request.user.username%}
                            <p>
                                <input type="checkbox" id="{{user.user.username}}" value="{{user.user.username}}" name="username" />
                                <label for="{{user.user.username}}">{{user.user.username}}</label>
                            </p>
                            {%endifnotequal%}
                            {%endfor%}
                          </div>
                        </li>
                    </ul>
                    {% if healthclub %}
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header">
                            회원 목록 ({{healthclub.name}})
                          </div>
                          <div class="collapsible-body">
                            {%for user in same_healthclub_users%}
                            {%ifnotequal user.user.username request.user.username%}
                            <p>
                                <input type="checkbox" id="{{user.user.username|add:'_same'}}" value="{{user.user.username}}" name="username" />
                                <label for="{{user.user.username|add:'_same'}}">{{user.user.username}}</label>
                            </p>
                            {%endifnotequal%}
                            {%endfor%}
                          </div>
                        </li>
                    </ul>
                    {% endif %}
                <br>
                <input {% if group.public %} checked="checked" {% endif %} name="public" type="radio" id="_public" value = "public" />
                <label for="_public">공개</label>
        
                <input {% if not group.public %} checked="checked" {% endif %} name="public" type="radio" id="_private" value = "private"/>
                <label for="_private">비공개</label>
                <br>
                <br>
                <button onclick="submitFunc()" class = "waves-effect waves-light btn" type="button">저</button>
            </form>
        </div>    
    </div>
</div>
<br><br>

<script>
    $(document).ready(function(){
        $('input.autocomplete').autocomplete({
        data: {
          {% for user in users %}
          "{{ user.user.username }}" : null,
          {% endfor %}
        },
        limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
        onAutocomplete: function(val) {
          // Callback function when value is autcompleted.
          html = '<div class="chip">' + val + '<i class="close material-icons">close</i><div><input type="hidden" name="search_ids" value="' + val + '"></div></div>'
          $('#search').after(html)
          $('#autocomplete-input').val('')
        },
        minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
      });
    })
    function submitFunc(){
        $( "#group_create" ).submit();
    };
</script>

{%endblock content%}




<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class = "col s12 m3 l3"></div>-->
<!--        <div class = "col s12 m6 l6" style="margin-top : 60px">-->
<!--          <div class="card">-->
<!--            <div class="card-content">-->
<!--                <form action="{% url 'profiles:group_update_confirm' groupid %}" method = "POST">-->
<!--                    {%csrf_token%}-->
<!--                    <div class="row">-->
<!--                        <div class="input-field col s6">-->
<!--                        <input value="{{groupname}}" id="groupname" type="text" name= "groupname" class="validate">-->
<!--                        <label class="active" for="groupname">그룹 이름</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <input name="public" type="radio" id="_public" value = "public" />-->
<!--                    <label for="_public">공개</label>-->
            
<!--                    <input name="public" type="radio" id="_private" value = "private"/>-->
<!--                    <label for="_private">비공개</label>-->
<!--                    <br>-->
                    
<!--                    <div style="margin-top : 40px">-->
<!--                        {%for member in members%}-->
<!--                        <p>-->
<!--                            <input type="checkbox" name = "username" id="{{member.user.username}}" value="{{member.user.username}}" />-->
<!--                            <label for="{{member.user.username}}">{{member.user.username}}</label>-->
<!--                        </p>-->
<!--                        {%endfor%}-->
<!--                    </div>-->
<!--                    <button style="margin-top: 40px" class = "waves-effect waves-light btn" type="submit">수정</button>-->
<!--                </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
