{% extends "base.html"  %}
{% load staticfiles %}

{% block title  %}
HealthyCash
{% endblock title %}
{% block head %}
{%endblock head%}
{%block content%}
<div class="container" style="margin-top:20px">
    <div class="row">
         <div class="col s12 m3 l2"></div>
         <div class="col s12 m6 l7">
         <h4 class="header">{{groupname}}
             {%if request.user in group_masters%}
            <a href="/profiles/group/update/{{groupid}}" style="float:right;margin-right:10px" class="waves-effect waves-light btn">그룹 설정</a>
            {% endif %}
         </h4>
             
         <div class="card horizontal" style="margin-top:20px;">
          <div class="card-stacked">
            <div class="card-content">
                {%if request.user in members%}
                <table>
                    <thead>
                      <tr>
                          <th>이름</th>
                          <th>출석 일수</th>
                          <th>적립금</th>
                          <th>권한</th>
                      </tr>
                    </thead>
            
                    <tbody>
                        {%for member in members%}
                      <tr>
                        <td>{{member.username}}</td>
                        <td>{{member.profile.exercised}}</td>
                        <td>{{member.profile.cash}}  원 </td>
                        {% if member in group_masters %}
                        <td>방장</td>
                        {% elif member.id != request.user.id %}
                            {% if request.user in group_masters %}
                        <td><a href="{% url 'profiles:add_group_master' groupid member.id %}"><i class="small material-icons">add</i></a></td>
                            {% endif %}
                        {% endif %}
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'profiles:group' %}"><button style="margin-top:10px" type = "button" class="btn waves-effect waves-light">이전으로</button></a>
                <a href="/profiles/group/exit/{{groupid}}" style="margin-top:10px" class="waves-effect waves-light btn">나가기</a>
                
            </div>
          </div>
        </div>
      </div>
  </div>
 </div>

{%endblock content%}