{% extends "base.html"  %}
{% load staticfiles %}

{% block title  %}
HealthyCash
{% endblock title %}
{% block head %}
{%endblock head%}
{%block content%}
<style>
 
</style>
<div class="container">
    <div class="row" style="margin-top:30px">
            <h5 style="color:#4EC1E6; margin-left:15px;">커뮤니티 <a style="float:right;margin-right:20px;" href="/profiles/group/create/" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a></h5>
          
           <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" style="margin-top:30px">
                <i class="material-icons">group</i>
                  내 그룹
                <span class="badge">{{ groups | length  }}</span>
              </div>
              <div class="collapsible-body" style="background-color:#FFFFFF">
                
                {% for group in groups %}
                  <p><a href="/profiles/group/detail/{{group.id}}">{{group.name}}</a></p>
                {% endfor %}
                
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">chat_bubble_outline</i>
                그룹 초대
                <span class="badge">{{ groupinvites | length  }}</span>
              </div>
              <div class="collapsible-body" style="background-color:#FFFFFF">
                {% if groupinvites %}
                    {% for groupinvite in groupinvites %}
                    <div style="margin-top:15px;">
                      <span style="color:#4EC1E6">{{groupinvite.inviter.profile.real_name}} 님의 초대 ({{ groupinvite.group.name }})</span>
                      <a style="float:right" href = "{% url 'profiles:group_invite_decline' groupinvite.id %}"><i class="material-icons">clear</i></a>
                      <a style="float:right;" href = "{% url 'profiles:group_invite_accept' groupinvite.id %}"><i class="material-icons">check</i></a>
                    </div> 
                    
                    {% endfor %}
                    {% else %}
                    <span>그룹 초대 내역이 없습니다.</span>
                    {% endif %}
              </div>
            </li>
            <li>
                <div class="collapsible-header">
                  <i class="material-icons">cached</i>
                  오픈 그룹
                  <span class="badge">{{notgroups|length}}</span>
                </div>
                <div class="collapsible-body" style="background-color:#FFFFFF">
                  {% if notgroups %}
                  {% for notgroup in notgroups %}
                      <a href="/profiles/group/register/{{notgroup.id}}"><p style="text-align:left; color:#4EC1E6;font-weight: bold;">{{notgroup.name}}</p></a>
                  {% endfor %}
                  {% endif %}
                </div>
              </li>
          </ul>
</div>
{% endblock content %}