{% extends "base.html"  %}
{% load staticfiles %}

{% block title  %}
HealthyCash
{% endblock  %}

{% block head %}
{%endblock head%}

{% block content %}
<style>
  body{
    background-color:white;
  }
  .highlight{
    color:#4EC1E6;
  }
</style>
<div class="container" style="margin-top:60px">
    <div class="row">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
          <div class="card" style="background-color:#efefef; border-radius:10px">
            <div class="card-content">
              <h5><span class="highlight">살</span>은 빼고, <span class="highlight">지갑</span>은 채우고</h5>
              <br><br>
              <p style="font-size:18px;">
                헬스장에 등록해 놓고도 가지 않아 버리는 돈, 아깝지 않나요?<br> HealthyCash는 운동하는 사람들에게 동기를 부여해 주는 헬스장 플랫폼 서비스입니다.
              </p>
            </div>
          </div>
        </div>
  </div>
   <center>
    <img style="position:relative; width:50%" src="{% static 'images/healthycash_logo_blue.png' %}">
  </center>
</div>
{% endblock content %}