{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>

  <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>{% block title %}{% endblock %}</title>
  
  <!-- CSS  -->
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Materialize Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {%block head%}{%endblock head%}
  <style>
    body {
        background-color : #efefef;
    } 
    
    .nav-fixed {
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      margin-bottom: 0px;
      z-index: 997;
    }
      input, label {vertical-align:middle}
      .qrcode-text {padding-right:1.7em; margin-right:0}
      .qrcode-text-btn { display:inline-block; background:url({% static 'images/qrcode_button.png' %}) 50% 50% no-repeat; height:40px; width:240px; margin-left:-1.7em; cursor:pointer; }
      .qrcode-text-btn > input[type=file] {position:absolute; overflow:hidden; width:1px; height:1px; opacity:0}
  </style>
  
</head>
<body>
    <script>
        /* global qrcode */
        function openQRCamera(node) {
          var reader = new FileReader();
          reader.onload = function() {
            node.value = "";
            qrcode.callback = function(res) {
              if(res instanceof Error) {
                alert("QR코드가 발견되지 않았습니다. 다시 한번 QR코드를 입력해 주세요.");
              } else {
                window.location.replace(res);  // 링크로 REDIRECT
                node.parentNode.previousElementSibling.value = res;
              }
            };
            qrcode.decode(reader.result);
          };
          reader.readAsDataURL(node.files[0]);
         }
        
        function showQRIntro() {
          return confirm("QR코드를 인식하기 위해 카메라를 사용합니다.");
        }
        
    </script>
  
  <div class="navbar-fixed">
    <nav style="background-color : #4EC1E6;">
    <div class="nav-wrapper container">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="/healthclub/list" class="brand-logo"><img src="{% static 'images/healthycash_string_logo.png'%}" style="height:35px;margin-top:10px;margin-left:8px;" ></a>
      
      <ul class="right hide-on-med-and-down">
        {% if request.user.is_anonymous %}
        <li><a href="/login">로그인</a></li>
        <li><a href="/register">회원 가입</a></li>
        <li><a href="/healthclub/list">헬스장 정보</a></li>
        <li><a href="/aboutus/">About Us</a></li>
        {% elif request.user.profile.is_health_master %}
        <li><a href="/healthclub/mypage">지점 현황</a></li>
        <li><a href="/healthclub/create">지점 정보 설정</a></li>
        <li><a href="/healthclub/list">헬스장 정보</a></li>
        <li><a href="/logout">로그아웃</a></li>
        {% else %}
        <li><a href="/healthclub/list">헬스장 정보</a></li>
        <li><a href="/profiles/mypage">마이페이지</a></li>
        <li>
          <a href="/profiles/group">그룹
            {% if request.user.new_member.all  %}
            <span class="badge">{{request.user.new_member.all|length}}</span>
            {% endif  %}
          </a>
        </li>
        <li><a href="/aboutus/">About Us</a></li>
        <li><a href="/logout">로그아웃</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  </div>
  <ul id="slide-out" class="side-nav">
        {% if request.user.is_anonymous %}
        <li><a href="/login"><p>로그인</p><i class="material-icons">account_box</i></a></li>
        <li><a href="/register">회원 가입<i class="material-icons">border_color</i></a></li>
        <li><a href="/healthclub/list">헬스장 정보<i class="material-icons">face</i></a></li>
        <li><a href="/aboutus/">About Us <i class="material-icons">folder_open</i></a></li>
        {% elif request.user.profile.is_health_master %}
        <li><a>{{request.user.profile.real_name}} 님 안녕하세요!</a></li>
        <li><a href="/healthclub/mypage">지점 현황</a></li>
        <li><a href="/healthclub/create">지점 정보 설정</a></li>
        <li><a href="/healthclub/list">헬스장 정보</a></li>
        <li><a href="/logout">로그아웃</a></li>
        {% else %}
        <li><p style="color:white;text-align:center;">{{request.user.profile.real_name}} 님 안녕하세요!</p></li>
          <center>
           
           <label style="margin-left:2px"  class="qrcode-text-btn"><input type="file" accept="image/*" capture="environment" onclick="return showQRIntro();" onchange="openQRCamera(this);" tabindex="-1"></label>
           
           </center>
           <center>
            <div class="card-panel teal" style="width:80%; border-radius:15px">
              <span class="text">
                <p style="text-align:left; color:#4EC1E6;font-weight: bold;">적립금 : {{ request.user.profile.cash }} 원</p>
                <p style="text-align:left; color:#4EC1E6;font-weight: bold;">출석 횟수 : {{ request.user.profile.exercised }} 일</p>
                <a href="/profiles/mypage"><center><img src="{% static 'images/mypage_button.png'%}" style="width:192px;"></center></a>
              </span>
            </div>
          </center>
          

        <li><a href="/healthclub/list">헬스장 정보<i class="material-icons">face</i></a></li>

        <!--<li><a href="/profiles/mypage">마이페이지<i class="material-icons">create</i></a></li>-->
        <li>
          <a href="/profiles/group">그룹<i class="material-icons">group</i>
            {% if request.user.new_member.all  %}
            <span class="badge">{{request.user.new_member.all|length}}</span>
            {% endif  %}
          </a>
        </li>
        <li><a href="/aboutus/">About Us <i class="material-icons">folder_open</i></a></li>
        <li><a href="/logout/">로그아웃<i class="material-icons">launch</i></a></li>
        {% endif %}
      </ul>
  
  <script>
    $( document ).ready(function() {
      $(".button-collapse").sideNav();
          /* global qrcode */
      
      });
  </script>
    {% block content %}{% endblock %}
  

</body>
</html>
