{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}{% endblock %}</title>
  
  <!-- CSS  -->
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Materialize Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {%block head%}{%endblock head%}
  <style>
    body {
        background-color : #efefef;
    } 
    label {
      color: black;
    }
  </style>
</head>

<body>
    <nav role="navigation" style="background-color : #38cc82">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"> <small>Logo</small><i class="large material-icons">chat_bubble</i></a>
      

      <ul class="right hide-on-med-and-down">
        {% if request.user.is_anonymous %}
        <li><a href="/login">로그인</a></li>
        <li><a href="/register">회원 가입</a></li>
        <li><a href="/healthclub/list">헬스장 정보</a></li>
        <li><a href="/">About Us</a></li>
        {% elif request.user.profile.is_health_master %}
        <li><a href="/healthclub/mypage">지점 현황</a></li>
        <li><a href="/healthclub/list">헬스장 정보</a></li>
        <li><a href="/healthclub/create">헬스장 등록 / 정보 변경</a></li>
        <li><a href="/logout">로그아웃</a></li>
        {% else %}
        <!--<li><a href="/healthclub/qrcode_check">출석체크</a></li>-->
        <li><a href="/profiles/mypage">마이페이지</a></li>
        <li><a href="/profiles/group">그룹</a></li>
        <li><a href="/healthclub/list">헬스장 정보</a></li>
        <li><a href="/">About Us</a></li>
        <li><a href="/logout">로그아웃</a></li>
        {% endif %}
      </ul>
      

      <ul id="nav-mobile" class="side-nav">
        {% if request.user.is_anonymous %}
        <li><a href="/login">로그인<i class="material-icons">account_box</i></a></li>
        <li><a href="/register">회원 가입<i class="material-icons">border_color</i></a></li>
        <li><a href="/healthclub/list">헬스장 정보<i class="material-icons">face</i></a></li>
        <li><a href="/">About Us <i class="material-icons">folder_open</i></a></li>
        {% elif request.user.profile.is_health_master %}
        <li><a>{{request.user.profile.real_name}} 님 안녕하세요!</a></li>
        <li><a href="/healthclub/mypage">지점 현황</a></li>
        <li><a href="/healthclub/list">헬스장 정보</a></li>
        <li><a href="/healthclub/create">헬스장 등록 / 정보 변경</a></li>
        <li><a href="/logout">로그아웃</a></li>
        {% else %}
        <li><a>{{request.user.profile.real_name}} 님 안녕하세요!</a></li>
        <li><a href="/healthclub/list">헬스장 정보<i class="material-icons">face</i></a></li>
        <li><a href="/healthclub/qrcode_check">출석체크<i class="material-icons">check</i></a></li>
        <li><a href="/profiles/mypage">마이페이지<i class="material-icons">create</i></a></li>
        <li>
          <a href="/profiles/group">그룹<i class="material-icons">group</i>
            <span class="badge">{{request.user.new_member.all|length}}</span>
          </a>
        </li>
        <li><a href="/logout">로그아웃<i class="material-icons">launch</i></a></li>
        <li><a href="/">About Us <i class="material-icons">folder_open</i></a></li>
        {% endif %}
      </ul>
      
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    {% block content %}{% endblock %}
    

</body>
</html>


