{% extends "base.html"  %}
{% load staticfiles %}

{% block title  %}
HealthyCash
{% endblock title %}
{% block head %}
{% endblock head %}
{%block content%}
<style>
  body{
    background-color:white;
  }
  span{
    font-weight: bold;
  }
</style>
<div class="container">
    <div class="row" style="padding-top:20px">
      <p class="header" style="font-size:20px;color:#4EC1E6;font-weight: bold;"> 마이페이지 </p>
     
       <center>
        <i style="font-size:150px"  class="large material-icons">account_circle</i>
        </center>
        <div class="col s12 m3 l3"></div>
        <div class="col s12 m6 l6">
          
          <ul class="collection" style="margin-top:30px">
            <li class="collection-item">
              <span>등록된 헬스장</span>
              <span style="float:right">{{profile.healthclub.name}} </span>
            </li>
            
            <li class="collection-item">
              <span>적립금</span>
              <span style="float:right">{{profile.cash}} 원 </span>
            </li>
            <li style="margin-left : 20px;font-weight: bold;">이용권 정보<li>
            <li class="collection-item">
              <span>등록일</span>
              <span style="float:right">{{profile.start_date|date:"M d D"}}  </span>
              <br>
              <span>만료일</span>
              <span style="float:right">{{profile.expire_date|date:"M d D"}} </span>
            </li>
            <li class="collection-item">
              <span>이번달 출석 현황</span>
              <span style="float:right">{{profile.exercised}} 회  </span>
              <br>
              <br>
              <table>
                  <thead>
                    <tr>
                        <th>지점</th>
                        <th>출석일</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                      {% for r in record%}
                    <tr>
                      <td>{{r.healthclub.name}}</td>
                      <td>{{r.timestamp|date:"M d D"}}</td>
                    </tr>
                       {% endfor %}
                  </tbody>
              </table>
            </li>
          </ul>
          <center>
            <!--<button  type = "button" class="btn waves-effect waves-light">뒤로가기</button>-->
          </center>
    
      </div>
      
    </div>
</div>

{% endblock content %}